<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>mark's blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugin/sweet-alert.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/plugin/Chart-1.0.1-beta.4.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/plugin/sweet-alert.min.js"></script>
    <script src="/js/main/{{page}}.main.js"></script>
  </head>
  <body>

    <div class="header">
      
           <div id="nav">

              <ul class="nav-menu clearfix unstyled animated bounceInDown">

                <li><a href="/" class="three-d">
                    首页
                  <span class="three-d-box"><span class="front">首页</span><span class="back">小时代小店</span></span>

                </a></li>

                <li><a href="/bill/BillCreate" class="three-d">

                  过账

                  <span class="three-d-box"><span class="front">过账</span><span class="back">5号</span></span>

                </a></li>

                <li><a href="/enter" class="three-d">

                   入库

                  <span class="three-d-box"><span class="front">入库</span><span class="back">入库</span></span></a>

                  <ul class="clearfix unstyled drop-menu">

                    <li><a href="/enter/upload" class="three-d">

                        上传Excel

                        <span class="three-d-box"><span class="front">上传Excel</span><span class="back">上传Excel</span></span>

                    </a></li>

                  </ul>

                </li>

                <li><a href="/count" class="three-d">

                  统计

                  <span class="three-d-box"><span class="front">统计</span><span class="back">统计</span></span>

                </a></li>

                <li><a href="#" class="three-d">

                  Contact

                  <span class="three-d-box"><span class="front">Contact</span><span class="back">大</span></span>

                </a></li>

                <li><a href="#" class="three-d">

                  Blog

                  <span class="three-d-box"><span class="front">Blog</span><span class="back">傻</span></span></a>

                  <ul class="clearfix unstyled drop-menu">

                    <li><a href="#" class="three-d">

                        黄海

                        <span class="three-d-box"><span class="front">5号</span><span class="back">黄海</span></span>

                    </a></li>

                    <li><a href="#" class="three-d">

                      Css3

                      <span class="three-d-box"><span class="front">8号</span><span class="back">啦啦啦</span></span>

                    </a></li>

                    <li><a href="#" class="three-d">

                      JavaScript

                      <span class="three-d-box"><span class="front">JavaScript</span><span class="back">傻</span></span>

                    </a></li>

                    <li><a href="#" class="three-d">

                      Videogames

                      <span class="three-d-box"><span class="front">Videogames</span><span class="back">脑</span></span>

                    </a></li>

                  </ul>

                </li>

                <li><a href="/user/login" class="three-d">

                  退出

                  <span class="three-d-box"><span class="front">退出</span><span class="back">退出</span></span>

                </a></li>

              </ul>

            </div>
         </div>
    
    <div class="content">
     {{{body}}}
    </div>
    
  </body>
</html>
