.panel{
    box-shadow: 10px 10px 5px #888888;
        background-color: rgba(151,187,205,0.2);
        min-height: 600px;
        position: relative;
        padding: 10px 30px;
        font-size: 18px;
        font-family: 600;

        .enterInput{
          margin-top: 20px;
        }

        .deleteIcon{
          height: 40px;
          background-image: url('/image/delete.png');
          background-size:30px 30px;
          background-repeat:no-repeat;
          background-position:center;
          padding: 10px;
          width: 40px;
          cursor: pointer;

          &:hover{
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: flash;
          }
        }

      
}

.enterShow{
    padding-top: 50px;

    .col-sm-4{
        text-align: right;
    }

    .getInput{
        text-align:left;
        color: #cf4646;
    }
}

.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

.toolbar{
      
      width: 100px;
      position: fixed;
      // border: 1px solid #cf4646;
      top: 240px;
      left: calc( ( 100% - 1400px) / 2 + 1420px );

  .col-sm-12{
      margin-bottom: 20px;
  }

  .addIcon{
        background-image: url('/image/add.png');
        background-size:20px 20px;
        background-repeat:no-repeat;
        background-position:center; 
        background-color: #009dcd;
        padding: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        border-radius: 6px;
        margin: 30px 30px;

        &:hover{
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: flash;
        }
  }

  .backTopIcon{
        background-image: url('/image/backTop.png');
        background-size:20px 20px;
        background-repeat:no-repeat;
        background-position:center;
        padding: 10px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        border-radius: 6px;
        margin: 30px 30px;
        background-color: #cf4646;

        &:hover{
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: flash;
        }
  }
}

.sweet-alert{

  button.confirm:hover{
      opacity: 0.6;
  }

  button.cancel{
    background-color: #cf4646;

    &:hover{
      opacity: 0.6;
      background-color: #cf4646;
    }
  }
}
