.content{
    width: 1400px;
    margin: 0 auto;
    padding-top:20px;
}

.popover-content{
    color: #cf4646;
    font-weight: bold;
}

#nav{
    position: relative;
    z-index: 999;
}
@import 'partials/reset';
@import 'partials/nav';