<div class="row animated bounceInRight">
    <div class="col-md-12 billPanel">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table BillList">
                    <tr>
                        <th class="order">#</th>
                        <th>编号</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>小计</th>
                    </tr>
                    
                  
                </table>
                
            </div>
        </div>
    </div>
</div>

<div class="row animated bounceInLeft">
    <div class="col-md-12">
        <div class="panel panel-default billBottom">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="pid" placeholder="编号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="price" placeholder="价格">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="amount" placeholder="数量">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-lg select">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success btn-lg" id="addBill">添加</button>    
                </form>
        </div>
    </div>
</div>

