<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>工号</th>
                <th>姓名</th>
                <th>金额</th>
            </tr>
            <tr>
                <td>8</td>
                <td>mark</td>
                <td>1233</td>
            </tr>
            <tr>
                <td>2</td>
                <td>mark</td>
                <td>2233</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mark</td>
                <td>5433</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mark</td>
                <td>5433</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mark</td>
                <td>5433</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mark</td>
                <td>5433</td>
            </tr>
            <tr>
                <td>3</td>
                <td>mark</td>
                <td>5433</td>
            </tr>
        </table>
    </div>
</div>

