<!DOCTYPE html> 

<html lang="en" class="no-js"> 

<head> 

  <meta charset="UTF-8" /> 

  <title>登录</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css" />
  <script src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js'></script>
  <script type='text/javascript' src='/plugin/jquery.particleground.min.js'></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='/js/login.js'></script>
  
</head> 

<body>
<div id="particles">

  <div class="intro animated bounceInLeft">

    <h1>{{blog.title}}</h1>
    <form method="post" enctype="multipart/form-data" action="/user/login">
        {{#if error}}
          <span class="warning">{{error}}</span>
        {{/if}}
        <div class="form-group">
            <label for="QQ">邮箱</label>
            <input type="text" class="form-control" id="QQ" placeholder="QQ" name="QQ">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码" name="password">
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
   
  </div>

</div>

</body> 

</html> 