<!DOCTYPE html> 

<html lang="en" class="no-js"> 

<head> 

  <meta charset="UTF-8" /> 

  <title>登录</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css" />
  <script src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js'></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='/plugin/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='/js/login.js'></script>


</head> 

<body>
<div id="particles">

  <div class="intro">

    <h1>Mark's blog</h1>
    <form>
        <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" placeholder="邮箱">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码">
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
   
  </div>

</div>

</body> 

</html> 