.billPanel {
  cursor: pointer; }
  .billPanel .panel {
    -webkit-box-shadow: 10px 10px 5px #888888;
            box-shadow: 10px 10px 5px #888888;
    background-color: rgba(151, 187, 205, 0.2);
    min-height: 600px;
    position: relative;
    padding: 10px 30px; }
    .billPanel .panel .table th, .billPanel .panel .table tr {
      text-align: center;
      font-size: 20px;
      color: #524f49; }
    .billPanel .panel .table td {
      border-top: 1px solid #cf4646; }
    .billPanel .panel .table th {
      border-bottom: 2px solid #cf4646;
      font-family: 800;
      font-size: 24px; }
    .billPanel .panel .table td.price {
      color: #cf4646; }
    .billPanel .panel .table .order {
      font-family: 800;
      font-size: 24px; }
  .billPanel .totalPanel {
    border-top: 2px solid #cf4646;
    margin-top: 100px; }
    .billPanel .totalPanel .total {
      float: right;
      width: 200px;
      font-size: 28px;
      color: #cf4646;
      font-family: 800;
      margin-top: 20px;
      text-align: center; }

.billBottom {
  background-color: rgba(185, 16, 16, 0.2);
  height: 120px;
  -webkit-box-shadow: 10px 10px 5px #888888;
          box-shadow: 10px 10px 5px #888888;
  padding: 20px 30px;
  position: relative; }
  .billBottom .btn-success {
    position: absolute;
    width: 200px;
    right: 40px;
    color: #fff;
    background-color: #cf4646;
    border-color: #e97a7a;
    -webkit-box-shadow: 2px 2px 3px #888888;
            box-shadow: 2px 2px 3px #888888; }
    .billBottom .btn-success:hover {
      background-color: #e03a3a;
      border-color: #cf4646; }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight; }
