.panel {
  -webkit-box-shadow: 10px 10px 5px #888888;
          box-shadow: 10px 10px 5px #888888;
  background-color: rgba(151, 187, 205, 0.2);
  min-height: 600px;
  position: relative;
  padding: 10px 30px;
  font-size: 18px;
  font-family: 600; }
  .panel .enterInput {
    margin-top: 20px; }
  .panel .deleteIcon {
    height: 40px;
    background-image: url("/image/delete.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    width: 40px;
    cursor: pointer; }
    .panel .deleteIcon:hover {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: flash;
              animation-name: flash; }

.enterShow {
  padding-top: 50px; }
  .enterShow .col-sm-4 {
    text-align: right; }
  .enterShow .getInput {
    text-align: left;
    color: #cf4646; }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }

.bounceInRight {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight; }

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); } }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
            transform: translate3d(-2000px, 0, 0); } }

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
          animation-name: bounceOutLeft; }

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); } }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0); } }

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight; }

.toolbar {
  width: 100px;
  position: fixed;
  top: 240px;
  left: calc( ( 100% - 1400px) / 2 + 1420px); }
  .toolbar .col-sm-12 {
    margin-bottom: 20px; }
  .toolbar .addIcon {
    background-image: url("/image/add.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #009dcd;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 6px;
    margin: 30px 30px;
    -webkit-box-shadow: 2px 2px 3px #888888;
            box-shadow: 2px 2px 3px #888888; }
    .toolbar .addIcon:hover {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: flash;
              animation-name: flash; }
  .toolbar .backTopIcon {
    background-image: url("/image/backTop.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 6px;
    margin: 30px 30px;
    background-color: #2dd14c;
    -webkit-box-shadow: 2px 2px 3px #888888;
            box-shadow: 2px 2px 3px #888888; }
    .toolbar .backTopIcon:hover {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: flash;
              animation-name: flash; }
  .toolbar .saveIcon {
    background-image: url("/image/save.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 6px;
    margin: 30px 30px;
    background-color: #cf4646;
    -webkit-box-shadow: 2px 2px 3px #888888;
            box-shadow: 2px 2px 3px #888888; }
    .toolbar .saveIcon:hover {
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: flash;
              animation-name: flash; }

.sweet-alert button.confirm:hover {
  opacity: 0.6; }

.sweet-alert button.cancel {
  background-color: #cf4646; }
  .sweet-alert button.cancel:hover {
    opacity: 0.6;
    background-color: #cf4646; }

.toolbar .uploadIcon {
  background-image: url("/image/upload.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #009E6F;
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 6px;
  margin: 30px 30px;
  -webkit-box-shadow: 2px 2px 3px #888888;
          box-shadow: 2px 2px 3px #888888; }
  .toolbar .uploadIcon:hover {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: flash;
            animation-name: flash; }
