<form method="post" enctype="multipart/form-data" action="/enter/upload">
    <div class="form-group">
        <input type="file" name="excel" id="excel">
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>