<div class="row ProductItem">
    <div class="col-md-8 animated bounceInLeft">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-1 col-md-offset-11 addIcon"></div>
            </div>
            <div class="row">
               <div class="col-md-12">
                <form class="form-horizontal enterInput">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品编号:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control Pid"  placeholder="商品编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品描述:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control description" placeholder="商品描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">库存:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control stock" placeholder="库存">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">进价:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control buyin_price" placeholder="进价">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类别:</label>
                        <div class="col-sm-10 category">
                            <label class="radio-inline">
                            <input type="radio" name="category" id="shoes" value="shoes" checked="checked">鞋子
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="coat" value="coat">外套
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="sweater" value="sweater">毛衣
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="T" value="T">短袖
                            </label>
                            <br/>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="pants" value="pants">裤子
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="skirt" value="skirt">裙子
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="bag" value="bag">背包
                            </label>
                            <label class="radio-inline">
                            <input type="radio" name="category" id="other" value="other">其他
                            </label>
                            
                        </div>
                    </div>                   
                </form>
               </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 animated bounceInRight">
        <div class="panel panel-default enterShow">
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品编号:</label>
                        <div class="col-sm-8 getPidInput getInput"></div>
                    </div>
                </div>  
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">商品描述:</label>
                        <div class="col-sm-8 getDescriptionInput getInput"></div>
                    </div>
                </div>  
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">库存:</label>
                        <div class="col-sm-8 getStockInput getInput"></div>
                    </div>
                </div>  
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">进价:</label>
                        <div class="col-sm-8 getBuyinInput getInput"></div>
                    </div>
                </div>  
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="sale_price" class="col-sm-4 control-label">售价:</label>
                        <div class="col-sm-8 getSaleInput getInput"></div>
                    </div>
                </div>  
             </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">类别:</label>
                        <div class="col-sm-8 getCategoryInput getInput"></div>
                    </div>
                </div>  
             </div>
             
             
        </div>
    </div>
</div>